In [3]:
#Q1
#i string
a="Hello world!"
print(type(a))
print(a)

#ii list
list=["Aditya","pw ",1,3,5,6]
print(type(list))
print(list)
#iii float
f=123.455
print(type(f))
print(f)
#iv tuple
T=(1,2,3,4,5,6,7)
print(type(T))
print(T)

<class 'str'>
Hello world!
<class 'list'>
['Aditya', 'pw ', 1, 3, 5, 6]
<class 'float'>
123.455
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7)

In [ ]:
#Q2
# (i) var1 = ' ' (empty string): The data type of var1 is a string.

# (ii) var2 = '[ DS , ML , Python]' (string): The data type of var2 is a string.

# (iii) var3 = ['DS', 'ML', 'Python'] (list): The data type of var3 is a list.

# (iv) var4 = 1. (float): The data type of var4 is a float.

In [1]:
#Q 3
#(i) /(division operator)
#The division operator / is used to divide one number by another. It performs floating-point division, which means it returns the result as a floating-point number.
a = 10
b = 3
result = a / b
print(result)
#In this example, '10' is divided by '3', and the result is '3.3333333333333335'.
#(ii) %(Modulo Operator):
'''The modulo operator '%'is used to find the remainder whe one number is devided by another .
It returns the remainder as the result'''
a=10
b=3
result=a%b
print(result)
#In this example ,'10',is divided by '3',and the remainder is 1.
#(iii) // (Floor Division)
'''The floor division opetor '//' is used to perform integer division ,which returns the largest integer less than or equal to the division result.'''
a=10
b=3
result=a//b
print(result)
#In this example '10' is divisible by '3', and the result is '3',as it returns the largest integer less than or equal to the division result.
#iv ** (Exponentiation Operator):
'''The exponentiation operator ** is used to raise a number to the power of another number. It calculates the exponentiation result.'''
a=2
b=3
result=a*b
print(result)
# in this example ,'2' is raised to the power of '3',and the result is '8'

3.3333333333333335
1
3
6

In [13]:
#Q4
my_list = [1, "Datascience", [1, 2, 3], {"Aditya", "PW",5}, (4, 5, 6), None, False, 10.5]

for element in my_list:
    print(element, type(element))

1 <class 'int'>
Datascience <class 'str'>
[1, 2, 3] <class 'list'>
{'PW', 5, 'Aditya'} <class 'set'>
(4, 5, 6) <class 'tuple'>
None <class 'NoneType'>
False <class 'bool'>
10.5 <class 'float'>

In [15]:
#Q 5
A = 120
B = 20
count = 0

while A % B == 0:
    A /= B
    count += 1

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

6.0 is divisible by 20 and can be divided 1 times.

In [16]:
#Q6
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
              print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [27]:
#Q7
 # If the value of variable is changeable it is mutable object 
#for example 
list=[1,2,4,5,6]
list[1]="mutable"
print(list)
#otherwise if the variable value is not chagable is called imutable 
str="I love this Data science course "
str[4]="e"#it is throwing error 
print(str)

[1, 'mutable', 4, 5, 6]

TypeError: 'str' object does not support item assignment